#comida_img{
    font-size: 6em;
    margin: 0;
}

p{
    font-size: 1.5em;
    margin: 5px;
}
#detalles_contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0;

}

#btn_contenedor{
    display: flex;
    gap: 10px;
    justify-content: center;
}